<<<<<<< HEAD
body {
    background-color: #010;
    color: white;
}

.footer{
    padding-top: 20px;
    font-size: 35px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.title {
	font-family: "Cairo";
	text-align: center;
	color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	letter-spacing: 1px;
	line-height:2
}

.logo {
	background-image: url(https://media0.giphy.com/media/V4NSR1NG2p0KeJJyr5/giphy.gif);
	background-size: cover;
    font-family: monospace;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 30px;
	margin: 10px;
}
/* Animation */

.white-mode {
	text-decoration: none;
	padding: 7px 10px;
	background-color: #122;
	border-radius: 3px;
	color: #FFF;
	transition: .35s ease-in-out;
	position: absolute;
	left: 15px;
	bottom: 15px;
	font-family: "Montserrat";
}

.white-mode:hover {
	background-color: #FFF;
	color: #122;
}
=======
body {
    background-color: #010;
    color: white;
}

.footer{
    padding-top: 20px;
    font-size: 35px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.title {
	font-family: "Cairo";
	text-align: center;
	color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	letter-spacing: 1px;
	line-height:2
}

.logo {
	background-image: url(https://media0.giphy.com/media/V4NSR1NG2p0KeJJyr5/giphy.gif);
	background-size: cover;
    font-family: monospace;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 30px;
	margin: 10px;
}
/* Animation */

.white-mode {
	text-decoration: none;
	padding: 7px 10px;
	background-color: #122;
	border-radius: 3px;
	color: #FFF;
	transition: .35s ease-in-out;
	position: absolute;
	left: 15px;
	bottom: 15px;
	font-family: "Montserrat";
}

.white-mode:hover {
	background-color: #FFF;
	color: #122;
}
>>>>>>> 8fa7d2437bb9041f3c34fff5bb6c6193a7d4889f
